<div class="container">
    <div class="content">
        <app-title title="Change Password"></app-title>

        <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">

            <text-input [control]="this.changePasswordForm.controls.currentPassword" type="password"
                label="Current Password" [showErrorsWhen]="isSubmitted"></text-input>
            <text-input [control]="this.changePasswordForm.controls.newPassword" type="password" label="New Password"
                [showErrorsWhen]="isSubmitted"></text-input>
            <text-input [control]="this.changePasswordForm.controls.confirmPassword" type="password"
                label="Confirm Password" [showErrorsWhen]="isSubmitted"></text-input>

            <default-button text="Change"></default-button>

        </form>
    </div>
</div>